<%- include('./layout/Header') %>
    <div class="showcase">
        <h1>About <span class="green-text">Express Diary</span></h1>
        <p>Simple app using express js</p>
        <p>version 1.0</p>
    </div>
<%- include('./layout/Footer') %>